/* Grupo: 05 ; Números: 56929, 57160, 56952 ; Nomes: Francisco Pinto fc56929, Gabriel Azevedo fc57160 e Tiago Rosa fc56952 ; PL: 22 */

body {
    background-color: rgb(37, 164, 187);
}




h1 {
    font-family: monospace;
    font-size: 50px;
    color: yellow;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 90);
}


.male {
    text-align: center;
    float: left;
    margin: auto;
}


.preview {
    display: block;
    position: relative;
    bottom: 800px;
    left: 1000px;

}

.PLAY {
    /* text-align: center; */
    margin: 100px;
}

.btn {
    margin: 20px;
    font-family: monospace;
    text-align: center;
    border: 0.1em solid #181818;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    background-color: rgb(3, 3, 148);
    color: yellow;
    display: inline-block;
    font-size: 30px;
    padding: 20px 200px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(10, 116, 223);
}

#boy,
#girl {
    font-family: monospace;
    text-align: center;
    background-color: rgb(3, 3, 148);
    border: 0.1em solid #181818;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    color: yellow;
    display: inline-block;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    left: 4em;
}

#outfit_boy1,
#outfit_boy2,
#outfit_girl1,
#outfit_girl2,
#charmander,
#squirtle,
#bulbasaur {
    font-family: monospace;
    text-align: center;
    background-color: rgb(3, 3, 148);
    border: 0.1em solid #181818;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    color: yellow;
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 6px;
    cursor: pointer;
    position: relative;
    left: 5.5em;
}

#boy:hover,
#girl:hover,
#outfit_boy1:hover,
#outfit_boy2:hover,
#outfit_girl1:hover,
#outfit_girl2:hover,
#charmander:hover,
#squirtle:hover,
#bulbasaur:hover {
    background-color: rgb(10, 116, 223);
}


.outfit {
    font-family: monospace;
    font-size: 20px;
}